@model IEnumerable<BeFit.Models.Statistic>

@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Count</th>
        <th>Max Score</th>
    </tr>
    @foreach (var et in ViewBag.exerciseTypes)
    {
        <tr>
            <td>@et.id</td>
            <td>@et.name</td>
            <td>@et.count</td>
            <td>@et.score</td>
        </tr>

    }
</table>